<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Felhasználók</title>
</head>
<body>
    <section layout:fragment="content">
        <p class="flex justify-center text-xl font-bold p-2">NYE Programozási környezetek kimenet</p>
        <p class="text-lg">Használt technológiák
            <ul>
                <li>Java 18</li>
                <li>Spring Boot</li>
            </ul>
        </p>
        <p class="text-base">Forrás elérhetősége: <a href="https://github.com/VPe187/NYEProgenv.git" target="_blank">GITHUB</a></p>
    </section>
</body>
</html>