<!--/*@thymesVar id="browserTitle" type=""*/-->
<!--/*@thymesVar id="pageTitle" type=""*/-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE">Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div th:replace="~{fragments/general :: navbar}" class="fixed top-0 left-0 w-full z-50"></div>
    <main>
        <section layout:fragment="content" class="px-1 sm:px-6 max-w-7xl mx-auto mt-4"></section>
    </main>
    <footer class="mt-auto py-3"></footer>
</body>
</html>