<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>[[${pageTitle}]]</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="w-full">
            <h1 class="font-bold text-2xl">Felhasználó szerkesztés ([[*{id}]])</h1>
            <form th:action="@{/users/save}" method="post" th:object="${user}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

                <input type="hidden" th:field="*{id}">

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                    <input type="email" th:field="*{email}" class="shadow apperance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">First Name</label>
                    <input type="text" th:field="*{firstName}" class="shadow apperance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Last Name</label>
                    <input type="text" th:field="*{lastName}" class="shadow apperance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                    <input type="password" th:field="*{password}" class="shadow apperance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Aktív</label>
                    <input type="checkbox" th:field="*{enabled}">
                </div>

                <div class="flex items-center justify-between">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Mentés
                    </button>
                    <button type="button" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
                    onclick="cancelForm()">
                        Mégsem
                    </button>
                </div>

            </form>
        </div>
        <script type="text/javascript">
            function cancelForm() {
                window.location = "[[@{/users}]]";
            }
        </script>
    </section>
</body>
</html>